@import "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap";


input {
 width: 40%;

}


.form {
  width: 40%;
  position: fixed;
  left: 35%;
  text-align: center;
  align-content: center;
  align-items: center;
}

.btn {
  width: 120px;
}
